:root {
  --adjust-map-width: 20px;
  --adjust-map-heigth: 180px;
}

@media screen and (min-width: 768px) {}
@media screen and (min-width: 1024px) {
  :root {
    --adjust-map-width: 356px;
    --adjust-map-heigth: 153px;
  }
}
@media screen and (min-width: 1440px) {}

/*
 .react-flow__edge-text {
   font-size: 18px;
 }
 
 .react-flow__node {
   width: 340px;
   height: 120px
 }*/
